* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #424B54;
	overflow: hidden;
}

ul {
	margin: 0px;
}

li {
	list-style: none;
	padding: 10px;
	margin: 0px;
	border-radius: 2px;
	float: right;

}
li a {
	text-decoration: 0px;
	color: #FFFFFF;
}

li:hover {
	background-color: #93A8AC;
	transition: background-color .2s;
}

div {
	padding: 0px;
	margin: 0px;
}

#map {
	filter: grayscale(100%);
	border-radius: 10px;
	box-shadow: 0px 2px 5px dimgray;
}

#header {
	background-color: #424B54;
	overflow: auto;
}
#body {
	overflow: auto;
	background-color: white;
}

#map {
	float: left;
	margin: .5% 0% .5% .5%;	
	width: 74%;
	height: 600px;
}

#infobox {
	float: right;
	margin: .5% .5% .5% 0%;
	padding: 10px;
	width: 24.5%;
	height: 600px;
	overflow: auto;
	border-radius: 10px;
	box-shadow: 0px 2px 5px lightgray;
	color: black;
}

#footer {
	padding: 15px;
	background-color: #424B54;
	color: #FFFFFF;
	text-align: center;
	margin: auto;
}